{{#each this}}
  <div class='country-info__card'>
    <div class="country-info__thumb">
      <img class='country-info__img' src={{flags.svg}} alt= 'flag of {{name.common}}'/>
      <h2 class='country-info__title'>{{name.official}}</h2>
    </div>
    <ul class='country-info__description description'>
      <li class='description__item'><span>Capital:</span> {{capital}}</li>
      <li class='description__item'><span>Population:</span> {{population}}</li>
      <li class='description__item'><span>Languages:</span> {{#each languages}} {{this}} {{#if @last}} {{else}}, {{/if}} {{/each}}</li>
    </ul>
  </div>
{{/each}}